<!-- Button trigger modal -->
<button type="button" class="align-self-center text-center btn-ingresar" data-bs-toggle="modal" data-bs-target="#loginModal" *ngIf="!isLogged">
  Ingresar
</button>

<!-- Modal -->
<div class="modal fade text-dark" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="loginModal">Ingreso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="ps-4 pe-4">
        <mat-form-field class="col-12">
          <mat-label>Usuario</mat-label>
        <input matInput id="username" name="username" formControlName="username" placeholder="Ingrese su usuario"
          required>
        </mat-form-field>
        <mat-form-field class="col-12">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Ingrese su contraseña" id="password" name="password" formControlName="password"
          required/>
        </mat-form-field>
        <div class="modal-footer">
          <button mat-stroked-button color="warn" data-bs-dismiss="modal" aria-label="Close"> <mat-icon fontIcon="close"
            color="warn" />
          Cancelar</button>
          <button mat-flat-button data-bs-dismiss="modal" aria-label="Login" color="accent" (click)="onLogin()"> <mat-icon fontIcon="check"
            color="dark" />

          Ingresar!</button>
        </div>        
      </form>
    </div>
  </div>
</div>
