<section class="container-fluid">
  <div class="row">
    <div class="col-12 hero-background">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 text-light mt-5">
            <h1 class="m-5 ms-0 magneto">Viajeros</h1>
            <h3 class="pb-5 text-shadow presentacion">
              Recorre lugares, conoce gente, descubre historias.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-6 p-5 pt-3 ps-md-0 ps-5 ms-1 ms-md-0 images-container mb-lg-0 mb-5 mt-lg-5">
        <div class="box-image-first ms-lg-0 ms-md-0 mt-0 mt-lg-5"></div>
        <div class="box-image-second ms-lg-5 ms-md-0 mt-0 mt-lg-5"></div>
      </div>
      <div class="col-12 col-lg-6 pe-lg-5 ps-md-0 mt-5 mb-5">
        <section id="sobreMi" class="p-4 pt-1 mt-5 mb-5">
          <h2 class="mt-5">Sobre mi</h2>
          <h3 class="">La naturaleza como maestra.</h3>
          <p class="mt-5 ">
            Mi nombre es Adolfo Rey, soy un artista audiovisual buscando develar lo sagrado en la naturaleza.
          </p>

          <p> Mi misión es mostrar que el mundo está lleno de tesoros desperdigados en todos los rincones del planeta.
            En los lugares más inesperados, aparece la maravilla, ya sea en un alambique o en un volcán, en una
            conversación con un habitante del desierto o en testimonios arqueológicos que nos hacen viajar en el tiempo.
            Los paisajes son los diferentes rostros de la naturaleza.
          </p>
          <p>
            Vivimos a una velocidad antinatural, pero la naturaleza nos invita a recuperar el ritmo original de la vida.
            El contacto con la naturaleza es bueno para el cuerpo, la mente y el alma. Mi vocación es recorrer estos
            lugares con una cámara y compartirlos.
          </p>
          <app-social-media />
        </section>
      </div>
    </div>
  </div>
</section>
