<section class="container-fluid">
  <div class="row">
    <div class="col-12 hero-background">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 text-light mt-5">
            <h1 class="m-5 ms-0 magneto">Viajeros</h1>
            <p class="pb-5 text-shadow">
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido
              el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
              que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró
              hacer un libro de textos especimen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-6 p-5 pt-3 ps-md-0 ps-5 ms-1 ms-md-0 images-container mb-lg-0 mb-5 mt-lg-5">
        <div class="box-image-first ms-lg-0 ms-md-0 mt-0 mt-lg-5"></div>
        <div class="box-image-second ms-lg-5 ms-md-0 mt-0 mt-lg-5"></div>
      </div>
      <div class="col-12 col-md-6 pe-md-3 mt-5">
        <section id="sobreMi" class="p-4 pt-1 mt-5">
          <h2 class="mt-5">Sobre mi</h2>
          <h3 class="">Descubrir lugares y conocer personas</h3>
          <p class="mt-5">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido
            el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
            que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró
            hacer un libro de textos especimen.
          </p>
          <app-social-media />
        </section>

      </div>
    </div>
  </div>
</section>