<div class="container" id="posts">
    <div class="row">
        <app-add-post *ngIf="isLogged"/>
        <div class="col-12 col-lg-1"></div>
        <section class="col-12 col-lg-10 pt-3" *ngFor="let post of posts">
            
            <div class="post text-dark p-0 pt-3 pb-0 mb-3">
                <div class="text-center bg-white">
                    <h2 class="josefin-slab-700">{{post.title}}</h2>
                </div>
                <div class="p-3">
                    <p class="josefin-slab-400">{{post.description}}</p>
                </div>

                <ng-container *ngIf="post.images[0]?.imageUrl">
                    <img src="{{post.images[0].imageUrl}}" alt="{{post.title}}" class="image" loading="lazy" style="object-fit: cover;">
                </ng-container>
                <p class="text-start pt-3 pb-0 post-created ms-2 mb-0">{{post.created | date:'dd/MM/yyyy'}}</p>
                <div class="pb-2 text-end">

                    <button mat-button color="warn" data-bs-toggle="modal"
                        data-bs-target="#deletePostModal" (click)="SavePostId(post.id)" *ngIf="isLogged"
                        aria-label="Delete" class="text-start">
                        <mat-icon fontIcon="delete" color="warn"/>Borrar
                    </button>
                    <app-edit-post [post]="post" *ngIf="isLogged" class="ms-2 text-start"/>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-dark" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="deletePostModal">Eliminar Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-footer">
                    <button mat-button color="accent" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                    <button mat-raised-button color="warn" (click)="DeletePost(postId)" aria-label="Delete"
                        data-bs-dismiss="modal">Borrar</button>
                </div>
            </form>
        </div>
    </div>
</div>