<!-- Button trigger modal -->
<button mat-button color="light" data-bs-toggle="modal"
  [attr.data-bs-target]="'#' + post.created" aria-label="Edit" class="edit-btn me-2">
  <mat-icon fontIcon="edit" color="dark" />
  Editar
</button>

<!-- Modal -->
<div class="modal fade text-dark" [attr.id]="post.created" [attr.aria-labelledby]="post.created" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" [attr.id]="post.date">Modificar Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="postForm">
        <div class="modal-body">
          <mat-form-field class="col-12">
            <mat-label>Titulo</mat-label>
          <input matInput id="title" name="title" class=" mb-2" formControlName="Title"
          placeholder="Ingrese el titulo" required>
          </mat-form-field>
        
          <mat-form-field class="col-12">
            <mat-label>Descripcion</mat-label>
            <textarea matInput id="description" name="description" class="mb-0" formControlName="Description"
            required></textarea>
          </mat-form-field>
        </div>
        <section class="p-3">
          <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png" style="background-color: #4a4a4a;">
            <ngx-dropzone-label class="text-light">Arrastra las imagenes</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </section>
        <div class="modal-footer">
          <button mat-button color="warn" data-bs-dismiss="modal" aria-label="Close"><mat-icon fontIcon="close" color="warn" />Cancelar</button>
          <button mat-raised-button color="accent" (click)="UpdatePost()" data-bs-dismiss="modal" aria-label="Edit">
            <mat-icon fontIcon="check" color="dark" />

            Modificar</button>
        </div>
      </form>
    </div>
  </div>
</div>